<div class="w3-row w3-col w3-container border border-dark rounded-3 w3-section">
  <div class="w3-row w3-col _center-h">
    <p class="text-center w3-col l5 m5 s5">
      Hoy día {{ currentDay }} le toca a:
      <span class="fw-bolder w3-large w3-col">{{ afortunadoXtoday }}</span>
    </p>
    <p class="text-center w3-col l5 m5 s5">
      Mañana día {{ nextDay }} le toca a:
      <span class="fw-normal w3-large w3-col">{{ afortunadoXtomorrow }}</span>
    </p>
  </div>

  <p class="w3-col border border-dark border-2"></p>
  <p class="text-uppercase text-center">Listado del MES</p>
  <ul class="set-height-s-35 w3-ul w3-row w3-col">
    @for (item of personXMonth; track item; let idx = $index, e = $even) {
    <li class="w3-row w3-col _center-h">
      <span
        class="w3-col l5 m5 s5 fw-bold p-2 bg-dark bg-opacity-75 rounded-1 text-warning"
      >
        El día {{ this.dayXMonth[idx] }} le toca a</span
      >
      <label
        class="w3-col l6 m6 s6 fw-bold p-2 bg-dark bg-opacity-75 rounded-1 text-warning"
      >
        {{ item }}</label
      >
    </li>

    } @empty {
    <li>There are no items.</li>
    }
  </ul>
</div>
