<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="w3-row w3-col navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/img/img-dog.png" alt="Logo" srcset=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
      <!-- Links -->
      <ul class="navbar-nav text-white ">
        <li class="nav-item">
          <a href="#information"
          class="nav-link text-center "
            ><i class="fa fa-fw fa-home"></i> Home</a
          >
        </li>
         
      </ul>
    </div>
  </div>
</nav>
